:root{
  --trans-white: rgba(255,255,255,0.2);
  --trans-black: rgba(0,0,0,0.2);
  --primary-blue: #3f51b5;
  --primary-pink: #c51162;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}
